body{
  background-color: darkseagreen;
}
.contenedor{
  display: flex;
  border: 1px solid black;
  width: 800px;
  height: 500px;
  margin: 200px 500px;
  background-color: midnightblue;
  color: aliceblue;
}
.imagen{
  margin: 20px;
}
.descripcion{
  flex-grow: 1;
  padding: 18px 25px 5px 8px;
}
h1{
  text-align: center;
  font-size: 2.5rem;
}
.texto{
  text-align: justify;
  font-size: 0.9rem;
  margin-top: -15px;
}
p{
  text-align: center;
}
